@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*Reset CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "DM Serif Display", sans-serif;
    color: rgba(12, 89, 48, 0.973);
    padding: 10px;
}
header {
  background-color: rgb(38, 184, 121);
  border-radius: 6px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /*vertical*/
  align-items: center; /*horizontal*/
}

#image-profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#principal {
  border-radius: 6px;
  height: 800px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  background-color: rgba(70, 171, 66, 0.664);
  border-radius: 6px;
  height: 100%;
  width: 74%;
}

aside {
  background-color: rgb(18, 144, 52);
  border-radius: 6px;
  height: 100%;
  width: 25%;
}

footer {
  background-color: rgba(58, 239, 61, 0.352);
  border-radius: 6px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: rgb(22, 138, 93);
  font-size: 1.2rem;
}

footer a {
  color: rgb(41, 46, 62);
  text-decoration: none;
  font-weight: 500;
}